<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
</body>

    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/bootadmin.min.js}"></script>
        <script src="https://bootadmin.net/js/datatables.min.js"></script>
    </th:block>

</html>