<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--================Categories Banner Area =================-->
<section th:fragment="categories_banner" class="categories_banner_area">
    <div class="container">
        <div class="c_banner_inner">
            <h3>shop grid with left sidebar</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li class="current"><a href="#">Shop Grid with Left Sidebar</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Categories Banner Area =================-->

</html>