<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="scripts">
        <div th:include="fragments/chat :: chat"/>

        <script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <!-- Rev slider js -->
        <script th:src="@{/vendors/revolution/js/jquery.themepunch.tools.min.js}"></script>
        <script th:src="@{/vendors/revolution/js/jquery.themepunch.revolution.min.js}"></script>
        <script th:src="@{/vendors/revolution/js/extensions/revolution.extension.actions.min.js}"></script>
        <script th:src="@{/vendors/revolution/js/extensions/revolution.extension.video.min.js}"></script>
        <script th:src="@{/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
        <script th:src="@{/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js}"></script>
        <script th:src="@{/vendors/revolution/js/extensions/revolution.extension.navigation.min.js}"></script>
        <script th:src="@{/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js}"></script>
        <!-- Extra plugin css -->
        <script th:src="@{/vendors/counterup/jquery.waypoints.min.js}"></script>
        <script th:src="@{/vendors/counterup/jquery.counterup.min.js}"></script>
        <script th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
        <script th:src="@{/vendors/bootstrap-selector/js/bootstrap-select.min.js}"></script>
        <script th:src="@{/vendors/image-dropdown/jquery.dd.min.js}"></script>
        <script th:src="@{/js/smoothscroll.js}"></script>
        <script th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
        <script th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
        <script th:src="@{/vendors/magnify-popup/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/vendors/vertical-slider/js/jQuery.verticalCarousel.js}"></script>
        <script th:src="@{/vendors/jquery-ui/jquery-ui.js}"></script>

        <script th:src="@{/js/theme.js}"></script>

        <script th:src="@{/js/chat.js}"></script>
    </th:block>

</html>