<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<nav th:replace="fragments/header :: header"></nav>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script src="https://bootadmin.net/js/datatables.min.js"></script>

</body>
</html>